In [19]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [20]:
# 1. Load raw CSVs
df1 = pd.read_csv('CIS62.20250516213458.csv')  # IP engagement rates 
df2 = pd.read_csv('BSA02.20250516T100541.csv')  # Total R&D expenditure 
df3 = pd.read_csv('BSA22.20250516T200531.csv')  # R&D enterprise headcounts

In [32]:
# 2. Define a simple inspection function
def inspect_df(df, name):
    print(f"\n=== {name} ===")
    print("Shape:", df.shape)                     # rows, columns
    print("\nInfo:")
    df.info()                                     # schema and non-null counts
    print("\nNull values per column:")
    print(df.isnull().sum())                      # count of missing values
    print("\nDescriptive statistics (numeric):")
    print(df.describe(), "\n")                    # count, mean, std, min/max, quartiles
    print("First 5 rows:")
    print(df.head(), "\n")                        # preview

In [22]:
inspect_df(df1, 'df1 (CIS62: IP engagement rates)')
inspect_df(df2, 'df2 (BSA02: R&D expenditure)')
inspect_df(df3, 'df3 (BSA22: R&D enterprise counts)')

=== df1 (CIS62: IP engagement rates) ===
Shape: (105, 10)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   STATISTIC           105 non-null    object
 1   STATISTIC Label     105 non-null    object
 2   TLIST(A1)           105 non-null    int64
 3   Year                105 non-null    int64
 4   C03337V04024        105 non-null    int64
 5   Type of Innovation  105 non-null    object
 6   C02673V03235        105 non-null    object
 7   NACE Rev 2 Sector   105 non-null    object
 8   UNIT                105 non-null    object
 9   VALUE               75 non-null     float64
dtypes: float64(1), int64(3), object(6)
memory usage: 8.3+ KB

Null values per column:
STATISTIC              0
STATISTIC Label        0
TLIST(A1)              0
Year                   0
C03337V04024           0
Type of Innovation     0
C02673V03235           0
NACE Rev 2 Sector      0
UNIT                   0
VALUE                 30
dtype: int64

Descriptive statistics (numeric):
         TLIST(A1)         Year  C03337V04024      VALUE
count   105.000000   105.000000    105.000000  75.000000
mean   2018.000000  2018.000000      4.000000   5.658667
std       2.841993     2.841993      2.009592   4.436004
min    2014.000000  2014.000000      1.000000   0.200000
25%    2016.000000  2016.000000      2.000000   2.100000
50%    2018.000000  2018.000000      4.000000   4.500000
75%    2020.000000  2020.000000      6.000000   7.750000
max    2022.000000  2022.000000      7.000000  19.800000

First 5 rows:
  STATISTIC                                    STATISTIC Label  TLIST(A1)  \
0     CIS62  Enterprises Engaged in Intellectual Property R...       2014
1     CIS62  Enterprises Engaged in Intellectual Property R...       2014
2     CIS62  Enterprises Engaged in Intellectual Property R...       2014
3     CIS62  Enterprises Engaged in Intellectual Property R...       2014
4     CIS62  Enterprises Engaged in Intellectual Property R...       2014

   Year  C03337V04024           Type of Innovation C02673V03235  \
0  2014             1  Any intellectual innovation        V1500
1  2014             1  Any intellectual innovation        V1521
2  2014             1  Any intellectual innovation       V3985R
3  2014             2           Apply for a patent        V1500
4  2014             2           Apply for a patent        V1521

                                   NACE Rev 2 Sector UNIT  VALUE
0                              Industries (05 to 39)    %    NaN
1  Industries and selected services (05 to 39,46,...    %    NaN
2  Selected Services (46, 49-53, 58-63, 64-66, 71...    %    NaN
3                              Industries (05 to 39)    %    NaN
4  Industries and selected services (05 to 39,46,...    %    NaN


=== df2 (BSA02: R&D expenditure) ===
Shape: (1080, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Statistic Label           1080 non-null   object
 1   Year                      1080 non-null   int64
 2   Nationality of Ownership  1080 non-null   object
 3   UNIT                      1080 non-null   object
 4   VALUE                     453 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 42.3+ KB

Null values per column:
Statistic Label               0
Year                          0
Nationality of Ownership      0
UNIT                          0
VALUE                       627
dtype: int64

Descriptive statistics (numeric):
              Year         VALUE
count  1080.000000  4.530000e+02
mean   2015.500000  6.348314e+05
std       5.190531  1.035941e+06
min    2007.000000  2.460000e+02
25%    2011.000000  2.072100e+04
50%    2015.500000  1.871710e+05
75%    2020.000000  8.417800e+05
max    2024.000000  7.003745e+06

First 5 rows:
                                Statistic Label  Year  \
0  Estimated Current Expenditure - Labour Costs  2007
1  Estimated Current Expenditure - Labour Costs  2007
2  Estimated Current Expenditure - Labour Costs  2007
3  Estimated Current Expenditure - Labour Costs  2008
4  Estimated Current Expenditure - Labour Costs  2008

         Nationality of Ownership           UNIT     VALUE
0  All nationalities of ownership  Euro Thousand       NaN
1                 Irish ownership  Euro Thousand       NaN
2             Non Irish ownership  Euro Thousand       NaN
3  All nationalities of ownership  Euro Thousand  905373.0
4                 Irish ownership  Euro Thousand  308698.0


=== df3 (BSA22: R&D enterprise counts) ===
Shape: (324, 6)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Statistic Label           324 non-null    object
 1   Year                      324 non-null    int64
 2   Nationality of Ownership  324 non-null    object
 3   Expenditure               324 non-null    object
 4   UNIT                      324 non-null    object
 5   VALUE                     324 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 15.3+ KB

Null values per column:
Statistic Label             0
Year                        0
Nationality of Ownership    0
Expenditure                 0
UNIT                        0
VALUE                       0
dtype: int64

Descriptive statistics (numeric):
              Year        VALUE
count   324.000000   324.000000
mean   2015.000000   211.930185
std       5.171965   380.903549
min    2007.000000     1.300000
25%    2011.000000    20.600000
50%    2015.000000    60.000000
75%    2019.000000   170.750000
max    2023.000000  2351.000000

First 5 rows:
                                     Statistic Label  Year  \
0  Enterprises Engaged in Research and Developmen...  2007
1  Enterprises Engaged in Research and Developmen...  2007
2  Enterprises Engaged in Research and Developmen...  2007
3  Enterprises Engaged in Research and Developmen...  2007
4  Enterprises Engaged in Research and Developmen...  2007

         Nationality of Ownership              Expenditure    UNIT   VALUE
0  All nationalities of ownership          Any expenditure  Number  1206.0
1  All nationalities of ownership             €0 - €99,999  Number   419.0
2  All nationalities of ownership      €100,000 - €499,999  Number   398.0
3  All nationalities of ownership    €500,000 - €1,999,999  Number   226.0
4  All nationalities of ownership  €2,000,000 - €4,999,999  Number    90.0

In [24]:
# 1.2 Pivot df1: one column per (Type of Innovation, Sector)
df1_wide = (
    df1
    .assign(VALUE=lambda d: pd.to_numeric(d['VALUE'], errors='coerce'))
    .pivot_table(
        index='Year',
        columns=['Type of Innovation','NACE Rev 2 Sector'],
        values='VALUE'
    )
    .rename_axis(columns=['innovation_type','sector'])
)

# 1.3 Pivot df2: one column per (Statistic Label, Ownership)
df2_wide = (
    df2
    .assign(VALUE=lambda d: pd.to_numeric(d['VALUE'], errors='coerce'))
    .pivot_table(
        index='Year',
        columns=['Statistic Label','Nationality of Ownership'],
        values='VALUE'
    )
    .rename_axis(columns=['statistic','ownership'])
)

# 1.4 Pivot df3: one column per (Expenditure band, Ownership)
df3_wide = (
    df3
    .assign(VALUE=lambda d: pd.to_numeric(d['VALUE'], errors='coerce'))
    .pivot_table(
        index='Year',
        columns=['Expenditure','Nationality of Ownership'],
        values='VALUE'
    )
    .rename_axis(columns=['expenditure_band','ownership'])
)

In [33]:
# 3. Merge into a single DataFrame called df
df = df1_wide.join(df2_wide, how='outer').join(df3_wide, how='outer')
df.index.name = 'Year'
df.reset_index(inplace=True)

In [34]:
df.shape

(18, 100)

In [35]:
df.head()

   Year All enterprises claiming copyright  \
                     Industries (05 to 39)
0  2007                                NaN
1  2008                                NaN
2  2009                                NaN
3  2010                                NaN
4  2011                                NaN

                                                                                      \
  Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73)
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                                      \
  Selected Services (46, 49-53, 58-63, 64-66, 71-73)
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  All enterprises using trade secrets  \
                Industries (05 to 39)
0                                 NaN
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN

                                                                                      \
  Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73)
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                                      \
  Selected Services (46, 49-53, 58-63, 64-66, 71-73)
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Any intellectual innovation  \
        Industries (05 to 39)
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN

                                                                                      \
  Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73)
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                                      ... €100,000 - €499,999  \
  Selected Services (46, 49-53, 58-63, 64-66, 71-73)  ... Non Irish ownership
0                                                NaN  ...               66.00
1                                                NaN  ...                 NaN
2                                                NaN  ...               56.65
3                                                NaN  ...                 NaN
4                                                NaN  ...               79.95

         €2,000,000 - €4,999,999                                      \
  All nationalities of ownership Irish ownership Non Irish ownership
0                          48.75           20.75               33.95
1                            NaN             NaN                 NaN
2                          35.05           18.80               20.20
3                            NaN             NaN                 NaN
4                          44.60           13.55               36.55

             €5,000,000 and over                                      \
  All nationalities of ownership Irish ownership Non Irish ownership
0                          39.55            6.75               38.35
1                            NaN             NaN                 NaN
2                          36.10            6.65               35.80
3                            NaN             NaN                 NaN
4                          36.65            8.15               33.45

           €500,000 - €1,999,999
  All nationalities of ownership Irish ownership Non Irish ownership
0                         122.35           82.50               49.65
1                            NaN             NaN                 NaN
2                         149.30           93.95               69.65
3                            NaN             NaN                 NaN
4                         152.95          104.05               59.50

[5 rows x 100 columns]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 100 columns):
 #   Column                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                             --------------  -----
 0   (Year, )                                                                                                                           18 non-null     int64
 1   (All enterprises claiming copyright, Industries (05 to 39))                                                                        4 non-null      float64
 2   (All enterprises claiming copyright, Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73))           4 non-null      float64
 3   (All enterprises claiming copyright, Selected Services (46, 49-53, 58-63, 64-66, 71-73))                                           4 non-null      float64
 4   (All enterprises using trade secrets, Industries (05 to 39))                                                                       4 non-null      float64
 5   (All enterprises using trade secrets, Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73))          4 non-null      float64
 6   (All enterprises using trade secrets, Selected Services (46, 49-53, 58-63, 64-66, 71-73))                                          4 non-null      float64
 7   (Any intellectual innovation, Industries (05 to 39))                                                                               4 non-null      float64
 8   (Any intellectual innovation, Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73))                  4 non-null      float64
 9   (Any intellectual innovation, Selected Services (46, 49-53, 58-63, 64-66, 71-73))                                                  4 non-null      float64
 10  (Apply for a European utility model, Industries (05 to 39))                                                                        1 non-null      float64
 11  (Apply for a European utility model, Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73))           1 non-null      float64
 12  (Apply for a European utility model, Selected Services (46, 49-53, 58-63, 64-66, 71-73))                                           1 non-null      float64
 13  (Apply for a patent, Industries (05 to 39))                                                                                        4 non-null      float64
 14  (Apply for a patent, Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73))                           4 non-null      float64
 15  (Apply for a patent, Selected Services (46, 49-53, 58-63, 64-66, 71-73))                                                           4 non-null      float64
 16  (Register a trademark, Industries (05 to 39))                                                                                      4 non-null      float64
 17  (Register a trademark, Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73))                         4 non-null      float64
 18  (Register a trademark, Selected Services (46, 49-53, 58-63, 64-66, 71-73))                                                         4 non-null      float64
 19  (Register an industrial design right, Industries (05 to 39))                                                                       4 non-null      float64
 20  (Register an industrial design right, Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73))          4 non-null      float64
 21  (Register an industrial design right, Selected Services (46, 49-53, 58-63, 64-66, 71-73))                                          4 non-null      float64
 22  (Actual Capital Expenditure - Instruments and Equipment (excluding software), All nationalities of ownership)                      8 non-null      float64
 23  (Actual Capital Expenditure - Instruments and Equipment (excluding software), Irish ownership)                                     8 non-null      float64
 24  (Actual Capital Expenditure - Instruments and Equipment (excluding software), Non Irish ownership)                                 8 non-null      float64
 25  (Actual Capital Expenditure - Land and Buildings, All nationalities of ownership)                                                  8 non-null      float64
 26  (Actual Capital Expenditure - Land and Buildings, Irish ownership)                                                                 8 non-null      float64
 27  (Actual Capital Expenditure - Land and Buildings, Non Irish ownership)                                                             8 non-null      float64
 28  (Actual Capital Expenditure - Software development by company in-house and used in-house, All nationalities of ownership)          7 non-null      float64
 29  (Actual Capital Expenditure - Software development by company in-house and used in-house, Irish ownership)                         7 non-null      float64
 30  (Actual Capital Expenditure - Software development by company in-house and used in-house, Non Irish ownership)                     7 non-null      float64
 31  (Actual Capital Expenditure - Software purchased wholly for Research and Development purposes, All nationalities of ownership)     7 non-null      float64
 32  (Actual Capital Expenditure - Software purchased wholly for Research and Development purposes, Irish ownership)                    7 non-null      float64
 33  (Actual Capital Expenditure - Software purchased wholly for Research and Development purposes, Non Irish ownership)                7 non-null      float64
 34  (Actual Capital Expenditure- Payments made for licences to use intellectual products, All nationalities of ownership)              7 non-null      float64
 35  (Actual Capital Expenditure- Payments made for licences to use intellectual products, Irish ownership)                             7 non-null      float64
 36  (Actual Capital Expenditure- Payments made for licences to use intellectual products, Non Irish ownership)                         7 non-null      float64
 37  (Actual Current Expenditure - Labour Costs, All nationalities of ownership)                                                        9 non-null      float64
 38  (Actual Current Expenditure - Labour Costs, Irish ownership)                                                                       8 non-null      float64
 39  (Actual Current Expenditure - Labour Costs, Non Irish ownership)                                                                   8 non-null      float64
 40  (Actual Current Expenditure - Other Current Costs, All nationalities of ownership)                                                 9 non-null      float64
 41  (Actual Current Expenditure - Other Current Costs, Irish ownership)                                                                8 non-null      float64
 42  (Actual Current Expenditure - Other Current Costs, Non Irish ownership)                                                            8 non-null      float64
 43  (Actual Total Capital Expenditure, All nationalities of ownership)                                                                 9 non-null      float64
 44  (Actual Total Capital Expenditure, Irish ownership)                                                                                8 non-null      float64
 45  (Actual Total Capital Expenditure, Non Irish ownership)                                                                            8 non-null      float64
 46  (Actual Total Current Expenditure, All nationalities of ownership)                                                                 9 non-null      float64
 47  (Actual Total Current Expenditure, Irish ownership)                                                                                8 non-null      float64
 48  (Actual Total Current Expenditure, Non Irish ownership)                                                                            8 non-null      float64
 49  (Actual Total Research and Development Expenditure, All nationalities of ownership)                                                9 non-null      float64
 50  (Actual Total Research and Development Expenditure, Irish ownership)                                                               9 non-null      float64
 51  (Actual Total Research and Development Expenditure, Non Irish ownership)                                                           9 non-null      float64
 52  (Estimated Capital Expenditure - Instruments and Equipment (excluding software), All nationalities of ownership)                   7 non-null      float64
 53  (Estimated Capital Expenditure - Instruments and Equipment (excluding software), Irish ownership)                                  7 non-null      float64
 54  (Estimated Capital Expenditure - Instruments and Equipment (excluding software), Non Irish ownership)                              7 non-null      float64
 55  (Estimated Capital Expenditure - Land and Buildings, All nationalities of ownership)                                               7 non-null      float64
 56  (Estimated Capital Expenditure - Land and Buildings, Irish ownership)                                                              7 non-null      float64
 57  (Estimated Capital Expenditure - Land and Buildings, Non Irish ownership)                                                          7 non-null      float64
 58  (Estimated Capital Expenditure - Software development by company in-house and used in-house, All nationalities of ownership)       6 non-null      float64
 59  (Estimated Capital Expenditure - Software development by company in-house and used in-house, Irish ownership)                      6 non-null      float64
 60  (Estimated Capital Expenditure - Software development by company in-house and used in-house, Non Irish ownership)                  6 non-null      float64
 61  (Estimated Capital Expenditure - Software purchased wholly for Research and Development purposes, All nationalities of ownership)  6 non-null      float64
 62  (Estimated Capital Expenditure - Software purchased wholly for Research and Development purposes, Irish ownership)                 6 non-null      float64
 63  (Estimated Capital Expenditure - Software purchased wholly for Research and Development purposes, Non Irish ownership)             6 non-null      float64
 64  (Estimated Capital Expenditure- Payments made for licences to use intellectual products, All nationalities of ownership)           6 non-null      float64
 65  (Estimated Capital Expenditure- Payments made for licences to use intellectual products, Irish ownership)                          6 non-null      float64
 66  (Estimated Capital Expenditure- Payments made for licences to use intellectual products, Non Irish ownership)                      6 non-null      float64
 67  (Estimated Current Expenditure - Labour Costs, All nationalities of ownership)                                                     9 non-null      float64
 68  (Estimated Current Expenditure - Labour Costs, Irish ownership)                                                                    7 non-null      float64
 69  (Estimated Current Expenditure - Labour Costs, Non Irish ownership)                                                                7 non-null      float64
 70  (Estimated Current Expenditure - Other Current Costs, All nationalities of ownership)                                              9 non-null      float64
 71  (Estimated Current Expenditure - Other Current Costs, Irish ownership)                                                             7 non-null      float64
 72  (Estimated Current Expenditure - Other Current Costs, Non Irish ownership)                                                         7 non-null      float64
 73  (Estimated Total Capital Expenditure, All nationalities of ownership)                                                              9 non-null      float64
 74  (Estimated Total Capital Expenditure, Irish ownership)                                                                             7 non-null      float64
 75  (Estimated Total Capital Expenditure, Non Irish ownership)                                                                         7 non-null      float64
 76  (Estimated Total Current Expenditure, All nationalities of ownership)                                                              9 non-null      float64
 77  (Estimated Total Current Expenditure, Irish ownership)                                                                             7 non-null      float64
 78  (Estimated Total Current Expenditure, Non Irish ownership)                                                                         7 non-null      float64
 79  (Estimated Total Research and Development Expenditure, All nationalities of ownership)                                             9 non-null      float64
 80  (Estimated Total Research and Development Expenditure, Irish ownership)                                                            9 non-null      float64
 81  (Estimated Total Research and Development Expenditure, Non Irish ownership)                                                        9 non-null      float64
 82  (Any expenditure, All nationalities of ownership)                                                                                  9 non-null      float64
 83  (Any expenditure, Irish ownership)                                                                                                 9 non-null      float64
 84  (Any expenditure, Non Irish ownership)                                                                                             9 non-null      float64
 85  (€0 - €99,999, All nationalities of ownership)                                                                                     9 non-null      float64
 86  (€0 - €99,999, Irish ownership)                                                                                                    9 non-null      float64
 87  (€0 - €99,999, Non Irish ownership)                                                                                                9 non-null      float64
 88  (€100,000 - €499,999, All nationalities of ownership)                                                                              9 non-null      float64
 89  (€100,000 - €499,999, Irish ownership)                                                                                             9 non-null      float64
 90  (€100,000 - €499,999, Non Irish ownership)                                                                                         9 non-null      float64
 91  (€2,000,000 - €4,999,999, All nationalities of ownership)                                                                          9 non-null      float64
 92  (€2,000,000 - €4,999,999, Irish ownership)                                                                                         9 non-null      float64
 93  (€2,000,000 - €4,999,999, Non Irish ownership)                                                                                     9 non-null      float64
 94  (€5,000,000 and over, All nationalities of ownership)                                                                              9 non-null      float64
 95  (€5,000,000 and over, Irish ownership)                                                                                             9 non-null      float64
 96  (€5,000,000 and over, Non Irish ownership)                                                                                         9 non-null      float64
 97  (€500,000 - €1,999,999, All nationalities of ownership)                                                                            9 non-null      float64
 98  (€500,000 - €1,999,999, Irish ownership)                                                                                           9 non-null      float64
 99  (€500,000 - €1,999,999, Non Irish ownership)                                                                                       9 non-null      float64
dtypes: float64(99), int64(1)
memory usage: 14.2 KB

In [37]:
df.describe()

              Year All enterprises claiming copyright  \
                                Industries (05 to 39)
count    18.000000                           4.000000
mean   2015.500000                           2.675000
std       5.338539                           1.512999
min    2007.000000                           1.000000
25%    2011.250000                           1.750000
50%    2015.500000                           2.600000
75%    2019.750000                           3.525000
max    2024.000000                           4.500000

                                                                                          \
      Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73)
count                                            4.00000
mean                                             2.80000
std                                              1.00995
min                                              1.30000
25%                                              2.65000
50%                                              3.25000
75%                                              3.40000
max                                              3.40000

                                                          \
      Selected Services (46, 49-53, 58-63, 64-66, 71-73)
count                                           4.000000
mean                                            2.825000
std                                             1.014479
min                                             1.400000
25%                                             2.450000
50%                                             3.150000
75%                                             3.525000
max                                             3.600000

      All enterprises using trade secrets  \
                    Industries (05 to 39)
count                            4.000000
mean                             5.025000
std                              1.878608
min                              2.700000
25%                              4.425000
50%                              5.050000
75%                              5.650000
max                              7.300000

                                                                                          \
      Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73)
count                                           4.000000
mean                                            3.650000
std                                             1.436431
min                                             2.100000
25%                                             2.850000
50%                                             3.500000
75%                                             4.300000
max                                             5.500000

                                                          \
      Selected Services (46, 49-53, 58-63, 64-66, 71-73)
count                                           4.000000
mean                                            2.925000
std                                             1.233896
min                                             1.800000
25%                                             2.025000
50%                                             2.700000
75%                                             3.600000
max                                             4.500000

      Any intellectual innovation  \
            Industries (05 to 39)
count                    4.000000
mean                    16.350000
std                      2.503997
min                     13.800000
25%                     15.375000
50%                     15.900000
75%                     16.875000
max                     19.800000

                                                                                          \
      Industries and selected services (05 to 39,46,49 to 53,58 to 63,64 to 66,71 to 73)
count                                           4.000000
mean                                           13.375000
std                                             1.388944
min                                            12.100000
25%                                            12.550000
50%                                            13.050000
75%                                            13.875000
max                                            15.300000

                                                          ...  \
      Selected Services (46, 49-53, 58-63, 64-66, 71-73)  ...
count                                           4.000000  ...
mean                                           11.675000  ...
std                                             1.493039  ...
min                                             9.900000  ...
25%                                            10.725000  ...
50%                                            11.850000  ...
75%                                            12.800000  ...
max                                            13.100000  ...

      €100,000 - €499,999        €2,000,000 - €4,999,999                  \
      Non Irish ownership All nationalities of ownership Irish ownership
count            9.000000                       9.000000        9.000000
mean            67.781667                      54.725000       24.395556
std             11.498867                      15.387982       10.323932
min             46.300000                      35.050000       13.550000
25%             62.920000                      47.400000       18.800000
50%             66.000000                      50.150000       20.950000
75%             77.350000                      61.750000       26.200000
max             80.150000                      87.600000       49.250000

                                     €5,000,000 and over                  \
      Non Irish ownership All nationalities of ownership Irish ownership
count            9.000000                       9.000000        9.000000
mean            35.761111                      53.580556       12.183889
std              9.005803                      18.210361        4.861597
min             20.200000                      36.100000        6.650000
25%             30.000000                      39.550000        8.150000
50%             36.550000                      49.505000       11.165000
75%             38.700000                      64.900000       14.000000
max             51.550000                      90.200000       19.600000

                                   €500,000 - €1,999,999                  \
      Non Irish ownership All nationalities of ownership Irish ownership
count            9.000000                       9.000000        9.000000
mean            48.306111                     171.550556      112.598333
std             15.519023                      32.207745       18.162355
min             33.450000                     122.350000       82.500000
25%             35.800000                     152.950000      104.050000
50%             43.415000                     168.535000      111.750000
75%             58.500000                     183.320000      125.600000
max             78.500000                     237.150000      140.800000


      Non Irish ownership
count            9.000000
mean            70.780000
std             18.925652
min             49.650000
25%             59.500000
50%             64.840000
75%             69.650000
max            109.100000

[8 rows x 100 columns]

In [38]:
import pandas as pd

# Assume df_clean is the DataFrame you just described (18×100)
df = df_clean.copy()

# 1. Compute non-null counts and proportions
non_null_counts = df.notna().sum()
coverage = non_null_counts / len(df)

summary = pd.DataFrame({
    'non_null': non_null_counts,
    'coverage_pct': coverage * 100
}).sort_values('coverage_pct')

print("Columns sorted by coverage (bottom 10):")
print(summary.head(10), "\n")

# 2. Drop columns with coverage below 60%
threshold = 0.6
cols_to_keep = summary[summary['coverage_pct'] >= threshold * 100].index
df_reduced = df[cols_to_keep].copy()

print(f"Dropped {len(df.columns) - len(cols_to_keep)} columns; retained {len(cols_to_keep)} features.")
print("New shape:", df_reduced.shape)

# 3. Quick check of remaining coverage
print("\nMinimum coverage among retained features:",
      coverage[cols_to_keep].min() * 100, "%")

Columns sorted by coverage (bottom 10):
                                                    non_null  coverage_pct
year                                                      18         100.0
estimated_current_expenditure_other_current_cos...        18         100.0
estimated_current_expenditure_other_current_cos...        18         100.0
estimated_current_expenditure_other_current_cos...        18         100.0
estimated_current_expenditure_labour_costs_non_...        18         100.0
estimated_current_expenditure_labour_costs_iris...        18         100.0
estimated_current_expenditure_labour_costs_all_...        18         100.0
estimated_capital_expenditure_payments_made_for...        18         100.0
estimated_capital_expenditure_payments_made_for...        18         100.0
estimated_capital_expenditure_payments_made_for...        18         100.0

Dropped 0 columns; retained 97 features.
New shape: (18, 97)

Minimum coverage among retained features: 100.0 %